<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.productividadcc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Login"
            android:parentActivityName=".SplashScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.productividadcc.SplashScreen" />
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AgendaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NewGroupsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".GroupTrainingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewGroupsActivity" />
        </activity>
        <activity android:name=".GroupTraining2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewGroupsActivity" />
        </activity>
        <activity android:name=".GroupDisrbursementActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewGroupsActivity" />
        </activity>
        <activity android:name=".OldGroupVoBo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OldGroupsActivity" />
        </activity>
        <activity android:name=".OldGroupRecontrationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OldGroupsActivity" />
        </activity>
        <activity android:name=".OldGroupDisrbursementActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OldGroupsActivity" />
        </activity>
        <activity android:name=".OldGroupNewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OldGroupsActivity" />
        </activity>
        <activity android:name=".NewGroupMapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewGroupsActivity" />
        </activity>
        <activity android:name=".OldGroupMapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OldGroupsActivity" />
        </activity>
        <activity android:name=".AgendaLoader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AgregarEvento">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AgendarCapacitacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".AgendarCapacitacion2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".AgendarVoBo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".AgendarVoBoRen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".Capacitacion1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".Capacitacion2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".NewGroupVoBo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewGroupsActivity" />
        </activity>
        <activity android:name=".VoBoRenovacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".Desembolso">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".ReprogAgenda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".VisitaSemanal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".VisitaEvaluacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VisitaSemanal" />
        </activity>
        <activity android:name=".Verificacion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".LlamadaGestion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".AgendarCobranza">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".AgendarPromocion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AgregarEvento" />
        </activity>
        <activity android:name=".CancelaCap1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".CancelaCap2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".CancelaVoBo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".GrupoNuevo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".OldGroupsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".CancelaDesem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SincAgenda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Bitacora">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>